.data-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 12px;
  box-sizing: border-box;
}

.data-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px;
  text-align: center;
  box-sizing: border-box;
}

.data-input,
.data-output {
  font-size: xx-small;
  height: 100%;
  box-sizing: border-box;
}
