body {
  margin: 0;
  background: linear-gradient(135deg, #0f0c29 0%, #2d0036 50%, #4b006e 100%);
  color: #f3eaff;
  font-family: 'Segoe UI', 'Arial', sans-serif;
}
.app-container {
  padding: 12px;
  gap: 12px;

  display: grid;
  grid-template-columns: 1fr 9fr;
  max-height: 100vh;
  height: 100vh;
  box-sizing: border-box;
}

.format-buttons-container {
  width: 100%;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: inherit;
  box-sizing: border-box;
}

.button {
  background-color: #cacaca;
  border: 1px solid #cacaca;
  border-radius: 4px;
  box-shadow: #0000001a 0 2px 4px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: 'Akzidenz Grotesk BQ Medium', -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: xx-small;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.active {
  background-color: #000000;
  border: 1px solid #000000;
  color: #cacaca;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.formData-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

h3 {
  font-size: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .button {
    padding: 10px 30px;
  }
}
